body{
    width: 1000px;
    height: 1000px;
    background-color:#302860;;
}
.titulo{
    text-align: center;
    color: aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 300%;
    line-height: 1.1;
    position: absolute;
    top: 10px;
    left: 500px;
    z-index: 1001;
    }
li{
    list-style-type: none;
    text-align: justify;
    font-family: "Bebas Neue", sans-serif;
    font-size: 180%;
    }
.mhr{
    background-color: #302860;
    left: 20px;
    }
.menu{
    margin-left: 10px;
    margin-top: 45px;  
}
.menu .menu-faketrigger{
    display: block;
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu .menu-lines{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .menu-lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all ease .2s;
}


.menu .menu-faketrigger:checked ~ .menu-lines span {
    background-color: #302860;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.3);
}
    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
}
    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100% ;
    transform: rotate(-45deg) scaleX(1.3);
}

.menu ul{
    position: absolute;
    z-index: 998;
    left: 0px;
    top: 0px;
    width:230px;
    height: calc(206vh - 100px);
    padding-top:100px ;
    background-color: white;
    margin-top: 0px;
    margin-left: -500px;
    transition: all ease .3s;

}
.menu-faketrigger:checked ~ ul{
    margin-left: -30px;
    margin-top: 0px;
}
.menu ul li{
    padding: 10px 0px;
}
.menu ul li a{
    text-decoration: none;
    color: #302860;
    font-size: 22px;
    transition:  all ease .3s;
}
.menu ul li a:hover{
    color: #000000;
}

.espaco1{
    background-color: aliceblue;
    width: 350px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 80px;
    border-radius: 30px;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
}
.dimg{
    width: 50px;
    height: 50px;
    
}
.tite1{
    position: absolute;
    left: 102px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 180%;
    line-height: 1.1;
}
.l1{
    width: 100px;
    position: absolute;
    top: 50px;
    left: 155px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 110%;
    line-height: 1.1;
    display: block;
   
}
.ler-mais{
    display: none;
}
/* From Uiverse.io by catraco */ 
/*------ Settings ------*/
.container {
  --color: #000000;
  --size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  position: absolute;
  top: 160px;
  left: 171px;
  rotate: 180deg;
}

.container .chevron-down {
  position: absolute;
  animation: keyframes-return .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .chevron-down {
  animation: keyframes-rotate .5s;
  transform: rotate(180deg);


}

.container input:checked .l1 {
  visibility: visible;  

}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}