        body{
            width: 1000px;
            height: 600px;
            background-color:#302860;
        }
        .titulo{
            text-align: center;
            color: aliceblue;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 300%;
            line-height: 1.1;
            position: absolute;
            top: 5px;
            left: 450px;
            z-index: 1001;
        }
        .input1{
            position: absolute;
            top:115px;
            left: 520px;
            align-items: center;
            margin: 30px;
            background: white;
            border: none;
            outline: none;
            max-width: 190px;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 9999px;
            box-shadow: inset 1px 3px 10px rgb(109, 109, 109);
            color: black;
        }
         .input2{
            position: absolute;
            top:177px;
            left: 520px;
            align-items: center;
            margin: 30px;
            background: white;
            border: none;
            outline: none;
            max-width: 190px;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 9999px;
            box-shadow: inset 1px 3px 10px rgb(109, 109, 109);
            color: #000000;
        }
        .input3{
            position: absolute;
            top:270px;
            left: 625px;
            background: none;
            border: 5px black;
            outline: none;
            max-width: 130px;
            padding: 10px 20px;
            font-family: "Bebas Neue", sans-serif;
            font-size: 16px;
            color: aliceblue;
            border-radius: 9999px;
            box-shadow: inset 1px 3px 10px rgb(255, 255, 255);
            cursor: pointer;
        }