        body{
            width: 1000px;
            height: 600px;
            background-color:#302860;
        }
        .input1{
            position: absolute;
            top:270px;
            left: 555px;
            align-items: center;
            border: 4px double aliceblue;
            border-radius: 999px;
            padding: 5px 5px;
            box-shadow: 2px 2px 10px rgb(0, 0, 0);
            font-family: "Bebas Neue", sans-serif;
            font-size: 15px;
        }
        .input2{
            position: absolute;
            top:270px;
            left: 715px;
            align-items: center;
            border: 4px double aliceblue;
            border-radius: 999px;
            padding: 5px 5px;
            box-shadow: 2px 2px 10px rgb(0, 0, 0);
            font-family: "Bebas Neue", sans-serif;
            font-size: 15px;
            cursor: pointer;
        }
         
